body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('delete_events.bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Center the container horizontally only */
.container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto; /* Adds space at the top while keeping it centered horizontally */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}
ul li span {
    font-size: 18px;
    font-weight: bold;
}
.delete-btn {
    color: red;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}
.delete-btn:hover {
    color: darkred;
}
